In [220]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import date

#### Data Imorting and Cleaning

In [221]:
main_dataFrame = pd.read_csv('coordinates.csv')
dataFrame = main_dataFrame.dropna(axis=0, how='all', thresh=None, subset=None)
dataFrame = dataFrame.reset_index(drop=True)
dataFrame.speed.replace(-1, 0, inplace=True)

#### Converting "timestamp" to date and time format to creating three seperate columns "date", "time" and  "weekday"

In [222]:
dataFrame.timestamp = pd.to_datetime(dataFrame.timestamp)
dataFrame['time'] = dataFrame.timestamp.dt.time
dataFrame['weekday'] = dataFrame.timestamp.dt.weekday_name
dataFrame['date'] = dataFrame.timestamp.dt.date
dataFrame['location'] = dataFrame.agg('[{0[latitude]}, {0[longitude]}]'.format, axis=1)

In [223]:
dataFrame.uuid = dataFrame.uuid.replace({
    '2C08C96C-2595-4813-9EED-F1C8BE107854': 'Device_1',
    '88C6D155-9D4A-4896-9FC9-ADB50B764991': 'Device_2',
    'AAEF21CC-C1C1-4AAA-A4CB-018A10357266': 'Device_3',
    'CFCB52C1-3904-450A-91AF-7C6B5F467922': 'Device_4',
    'd4521d1e-ddb6-4a8c-97b3-1fe85075cc66':'Device_5'})

In [225]:
dataFrame.shape

(38587, 10)

In [275]:
dataFrame.head()
dataFrame.to_csv('cleaned.csv')

In [126]:
dataFrame.dtypes

uuid                 object
latitude            float64
longitude           float64
altitude            float64
speed               float64
timestamp    datetime64[ns]
time                 object
weekday              object
date                 object
dtype: object

In [215]:
# dataFrame[35610:35620]

In [127]:
dataFrame.isnull().sum()

uuid             0
latitude         0
longitude        0
altitude     20689
speed            0
timestamp        0
time             0
weekday          0
date             0
dtype: int64

In [157]:
dataFrame.speed.max()

119.1499939

In [226]:
dataFrame.uuid.unique()

array(['Device_1', 'Device_2', 'Device_3', 'Device_4', 'Device_5'],
      dtype=object)

In [227]:
# dataFrame['speed_difference'] = (dataFrame['speed'].shift() - dataFrame['speed']).abs() > 40
# dataFrame

In [228]:
# dataFrame.loc[dataFrame.speed_difference== True]

In [229]:
# dataFrame[35600:35614]

## Groupping The Data

In [239]:
new_Ser = dataFrame.groupby(['time', 'date']).speed.mean()

In [237]:
new_Ser

time      date
00:00:00  2017-08-01    0.0
          2017-08-21    0.0
00:01:00  2017-07-28    0.0
          2017-08-03    0.0
          2017-08-25    0.0
                       ...
23:57:00  2017-08-18    0.0
          2017-08-20    0.0
23:58:00  2017-07-27    0.0
          2017-08-22    0.0
          2017-08-24    0.0
Name: speed, Length: 11890, dtype: float64

In [232]:
new_Ser.unstack()

date               2017-07-14  2017-07-15  2017-07-16  2017-07-17  2017-07-18  \
uuid     time
Device_1 00:28:00         NaN         NaN         0.0         NaN         NaN
         01:34:00         NaN         0.0         NaN         NaN         NaN
         01:35:00         NaN         0.0         NaN         NaN         NaN
         02:10:00         NaN         NaN         0.0         NaN         NaN
         08:23:00         NaN         NaN         NaN         NaN         NaN
...                       ...         ...         ...         ...         ...
Device_5 23:54:00         NaN         NaN         NaN         NaN         NaN
         23:55:00         NaN         NaN         NaN         NaN         NaN
         23:56:00         NaN         NaN         NaN         NaN         NaN
         23:57:00         0.0         NaN         NaN         NaN         NaN
         23:58:00         NaN         NaN         NaN         NaN         NaN

date               2017-07-19  2017-07-20  2017-07-21  2017-07-22  2017-07-23  \
uuid     time
Device_1 00:28:00         NaN         NaN         NaN         NaN         NaN
         01:34:00         NaN         NaN         NaN         NaN         NaN
         01:35:00         NaN         NaN         NaN         NaN         NaN
         02:10:00         NaN         NaN         NaN         NaN         NaN
         08:23:00         NaN         NaN         NaN         NaN         NaN
...                       ...         ...         ...         ...         ...
Device_5 23:54:00         NaN         NaN         NaN         0.0         NaN
         23:55:00         NaN         NaN         NaN         NaN         NaN
         23:56:00         NaN         NaN         NaN         NaN         NaN
         23:57:00         NaN         NaN         NaN         NaN         NaN
         23:58:00         NaN         NaN         NaN         NaN         NaN

date               ...  2017-08-22  2017-08-23  2017-08-24  2017-08-25  \
uuid     time      ...
Device_1 00:28:00  ...         NaN         NaN         NaN         NaN
         01:34:00  ...         NaN         NaN         NaN         NaN
         01:35:00  ...         NaN         NaN         NaN         NaN
         02:10:00  ...         NaN         NaN         NaN         NaN
         08:23:00  ...         NaN         NaN         NaN         NaN
...                ...         ...         ...         ...         ...
Device_5 23:54:00  ...         0.0         NaN         0.0         NaN
         23:55:00  ...         NaN         NaN         NaN         NaN
         23:56:00  ...         NaN       0.335         NaN         NaN
         23:57:00  ...         NaN         NaN         NaN         NaN
         23:58:00  ...         0.0         NaN         0.0         NaN

date               2017-08-26  2017-08-27  2017-08-28  2017-08-29  2017-08-30  \
uuid     time
Device_1 00:28:00         NaN         NaN         NaN         NaN         NaN
         01:34:00         NaN         NaN         NaN         NaN         NaN
         01:35:00         NaN         NaN         NaN         NaN         NaN
         02:10:00         NaN         NaN         NaN         NaN         NaN
         08:23:00         NaN         NaN         NaN         NaN         NaN
...                       ...         ...         ...         ...         ...
Device_5 23:54:00         NaN         NaN         NaN         NaN         NaN
         23:55:00         NaN         NaN         NaN         0.0         NaN
         23:56:00         NaN         NaN         NaN         NaN         NaN
         23:57:00         NaN         NaN         NaN         NaN         NaN
         23:58:00         NaN         NaN         NaN         NaN         NaN

date               2017-08-31
uuid     time
Device_1 00:28:00         NaN
         01:34:00         NaN
         01:35:00         NaN
         02:10:00         NaN
         08:23:00         NaN
...                       ...
Device_5 23:54:00         NaN
         23:55:00         NaN
         23:56:00         NaN
         23:57:00         NaN
         23:58:00         NaN

[3261 rows x 49 columns]

In [277]:
dateWiseDevice = dataFrame.pivot_table(values='speed', index = 'date', columns='uuid')
dateWiseDevice= dateWiseDevice.replace('nan', np.nan).fillna(0)

In [279]:
dateWiseDevice.to_csv('dateWiseDevice.csv')

In [299]:
avgSpeed = dataFrame.groupby('uuid').speed.agg(['count', 'max', 'mean'])
avgSpeed.to_csv('avgSpeed.csv')

### Extracting Data "idWithDate"

In [273]:
idWithDate = dataFrame.groupby(['uuid', 'date']).speed.agg(['count', 'max', 'min', 'mean'])
idWithDate.to_csv('idWithDate.csv')

In [297]:
newidWithDate = pd.read_csv('idWithDate.csv')
newidWithDate.loc[newidWithDate.uuid =='Device_1']

        uuid        date  count        max  min       mean
0   Device_1  2017-07-14    101  14.530000  0.0   8.206040
1   Device_1  2017-07-15    263  19.180000  0.0  10.586768
2   Device_1  2017-07-16    134  16.190001  0.0   9.980522
3   Device_1  2017-07-17     20   6.070000  0.0   1.578500
4   Device_1  2017-07-18    648  22.580000  0.0   4.817608
5   Device_1  2017-07-19    899  20.379999  0.0   4.766652
6   Device_1  2017-07-20     47   5.490000  0.0   1.592766
7   Device_1  2017-07-21     95   4.200000  0.0   1.416211
8   Device_1  2017-07-22      1   0.000000  0.0   0.000000
9   Device_1  2017-07-24     42   4.120000  0.0   1.392857
10  Device_1  2017-07-25     17   5.710000  0.0   1.662353
11  Device_1  2017-07-26   1072  19.120001  0.0   4.945438
12  Device_1  2017-07-27    273  19.959999  0.0   6.012674
13  Device_1  2017-07-28    687  21.010000  0.0   3.439709

In [245]:
pd.pivot_table(dataFrame,index=["timestamp"], columns='uuid', values='speed')

uuid                 Device_1  Device_2  Device_3  Device_4  Device_5
timestamp
2017-07-14 10:30:00       NaN       0.0       NaN       NaN       NaN
2017-07-14 11:29:00       NaN       0.0       NaN       NaN       NaN
2017-07-14 11:31:00       NaN       NaN       NaN       NaN       0.0
2017-07-14 12:02:00       NaN       NaN       0.0       NaN       NaN
2017-07-14 12:12:00       NaN       NaN       NaN       NaN       0.0
...                       ...       ...       ...       ...       ...
2017-08-31 14:48:00       NaN       NaN       NaN       NaN       0.0
2017-08-31 14:50:00       NaN       NaN       NaN       NaN       0.0
2017-08-31 14:52:00       NaN       NaN       NaN       NaN       0.0
2017-08-31 14:55:00       NaN       NaN       NaN       NaN       0.0
2017-08-31 14:56:00       NaN       NaN       NaN       NaN       0.0

[11890 rows x 5 columns]