In [150]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import date

#### Data Imorting and Cleaning

In [153]:
main_dataFrame = pd.read_csv('coordinates.csv')
dataFrame = main_dataFrame.dropna(axis=0, how='all', thresh=None, subset=None)
dataFrame = dataFrame.reset_index(drop=True)
dataFrame.speed.replace(-1, 0, inplace=True)

#### Converting "timestamp" to date and time format to creating three seperate columns "date", "time" and  "weekday"

In [154]:
dataFrame.timestamp = pd.to_datetime(dataFrame.timestamp)
dataFrame['time'] = dataFrame.timestamp.dt.time
dataFrame['weekday'] = dataFrame.timestamp.dt.weekday_name
dataFrame['date'] = dataFrame.timestamp.dt.date
dataFrame['location'] = dataFrame.agg('[{0[latitude]}, {0[longitude]}]'.format, axis=1)

In [155]:
dataFrame.shape

(38587, 10)

In [156]:
dataFrame.head()

,uuid,latitude,longitude,altitude,speed,timestamp,time,weekday,date,location
0,2C08C96C-2595-4813-9EED-F1C8BE107854,47.571094,-52.734079,63.291878,0.00,2017-07-14 13:34:00,13:34:00,Friday,2017-07-14,"[47.571094, -52.734079]"
1,2C08C96C-2595-4813-9EED-F1C8BE107854,47.568872,-52.734090,72.342346,5.55,2017-07-14 16:29:00,16:29:00,Friday,2017-07-14,"[47.568872, -52.73409]"
2,2C08C96C-2595-4813-9EED-F1C8BE107854,47.569078,-52.734421,58.217102,0.00,2017-07-14 16:29:00,16:29:00,Friday,2017-07-14,"[47.569078000000005, -52.734421]"
3,2C08C96C-2595-4813-9EED-F1C8BE107854,47.570325,-52.731555,44.922607,10.90,2017-07-14 16:30:00,16:30:00,Friday,2017-07-14,"[47.570325, -52.73155500000001]"
4,2C08C96C-2595-4813-9EED-F1C8BE107854,47.569977,-52.732192,46.451965,2.78,2017-07-14 16:30:00,16:30:00,Friday,2017-07-14,"[47.569977, -52.732192000000005]"

In [126]:
dataFrame.dtypes

uuid                 object
latitude            float64
longitude           float64
altitude            float64
speed               float64
timestamp    datetime64[ns]
time                 object
weekday              object
date                 object
dtype: object

In [127]:
dataFrame.isnull().sum()

uuid             0
latitude         0
longitude        0
altitude     20689
speed            0
timestamp        0
time             0
weekday          0
date             0
dtype: int64