In [220]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import date

#### Data Imorting and Cleaning

In [221]:
main_dataFrame = pd.read_csv('coordinates.csv')
dataFrame = main_dataFrame.dropna(axis=0, how='all', thresh=None, subset=None)
dataFrame = dataFrame.reset_index(drop=True)
dataFrame.speed.replace(-1, 0, inplace=True)

#### Converting "timestamp" to date and time format to creating three seperate columns "date", "time" and  "weekday"

In [222]:
dataFrame.timestamp = pd.to_datetime(dataFrame.timestamp)
dataFrame['time'] = dataFrame.timestamp.dt.time
dataFrame['weekday'] = dataFrame.timestamp.dt.weekday_name
dataFrame['date'] = dataFrame.timestamp.dt.date
dataFrame['location'] = dataFrame.agg('[{0[latitude]}, {0[longitude]}]'.format, axis=1)

In [223]:
dataFrame.uuid = dataFrame.uuid.replace({
    '2C08C96C-2595-4813-9EED-F1C8BE107854': 'Device_1',
    '88C6D155-9D4A-4896-9FC9-ADB50B764991': 'Device_2',
    'AAEF21CC-C1C1-4AAA-A4CB-018A10357266': 'Device_3',
    'CFCB52C1-3904-450A-91AF-7C6B5F467922': 'Device_4',
    'd4521d1e-ddb6-4a8c-97b3-1fe85075cc66':'Device_5'})

In [225]:
dataFrame.shape

(38587, 10)

In [275]:
dataFrame.head()
dataFrame.to_csv('cleaned.csv')

In [126]:
dataFrame.dtypes

uuid                 object
latitude            float64
longitude           float64
altitude            float64
speed               float64
timestamp    datetime64[ns]
time                 object
weekday              object
date                 object
dtype: object

In [215]:
# dataFrame[35610:35620]

In [127]:
dataFrame.isnull().sum()

uuid             0
latitude         0
longitude        0
altitude     20689
speed            0
timestamp        0
time             0
weekday          0
date             0
dtype: int64

In [157]:
dataFrame.speed.max()

119.1499939

In [226]:
dataFrame.uuid.unique()

array(['Device_1', 'Device_2', 'Device_3', 'Device_4', 'Device_5'],
      dtype=object)

In [227]:
# dataFrame['speed_difference'] = (dataFrame['speed'].shift() - dataFrame['speed']).abs() > 40
# dataFrame

In [228]:
# dataFrame.loc[dataFrame.speed_difference== True]

In [229]:
# dataFrame[35600:35614]

## Groupping The Data

In [239]:
new_Ser = dataFrame.groupby(['time', 'date']).speed.mean()

In [237]:
new_Ser

time      date
00:00:00  2017-08-01    0.0
          2017-08-21    0.0
00:01:00  2017-07-28    0.0
          2017-08-03    0.0
          2017-08-25    0.0
                       ...
23:57:00  2017-08-18    0.0
          2017-08-20    0.0
23:58:00  2017-07-27    0.0
          2017-08-22    0.0
          2017-08-24    0.0
Name: speed, Length: 11890, dtype: float64

In [232]:
new_Ser.unstack()

date               2017-07-14  2017-07-15  2017-07-16  2017-07-17  2017-07-18  \
uuid     time
Device_1 00:28:00         NaN         NaN         0.0         NaN         NaN
         01:34:00         NaN         0.0         NaN         NaN         NaN
         01:35:00         NaN         0.0         NaN         NaN         NaN
         02:10:00         NaN         NaN         0.0         NaN         NaN
         08:23:00         NaN         NaN         NaN         NaN         NaN
...                       ...         ...         ...         ...         ...
Device_5 23:54:00         NaN         NaN         NaN         NaN         NaN
         23:55:00         NaN         NaN         NaN         NaN         NaN
         23:56:00         NaN         NaN         NaN         NaN         NaN
         23:57:00         0.0         NaN         NaN         NaN         NaN
         23:58:00         NaN         NaN         NaN         NaN         NaN

date               2017-07-19  2017-07-20  2017-07-21  2017-07-22  2017-07-23  \
uuid     time
Device_1 00:28:00         NaN         NaN         NaN         NaN         NaN
         01:34:00         NaN         NaN         NaN         NaN         NaN
         01:35:00         NaN         NaN         NaN         NaN         NaN
         02:10:00         NaN         NaN         NaN         NaN         NaN
         08:23:00         NaN         NaN         NaN         NaN         NaN
...                       ...         ...         ...         ...         ...
Device_5 23:54:00         NaN         NaN         NaN         0.0         NaN
         23:55:00         NaN         NaN         NaN         NaN         NaN
         23:56:00         NaN         NaN         NaN         NaN         NaN
         23:57:00         NaN         NaN         NaN         NaN         NaN
         23:58:00         NaN         NaN         NaN         NaN         NaN

date               ...  2017-08-22  2017-08-23  2017-08-24  2017-08-25  \
uuid     time      ...
Device_1 00:28:00  ...         NaN         NaN         NaN         NaN
         01:34:00  ...         NaN         NaN         NaN         NaN
         01:35:00  ...         NaN         NaN         NaN         NaN
         02:10:00  ...         NaN         NaN         NaN         NaN
         08:23:00  ...         NaN         NaN         NaN         NaN
...                ...         ...         ...         ...         ...
Device_5 23:54:00  ...         0.0         NaN         0.0         NaN
         23:55:00  ...         NaN         NaN         NaN         NaN
         23:56:00  ...         NaN       0.335         NaN         NaN
         23:57:00  ...         NaN         NaN         NaN         NaN
         23:58:00  ...         0.0         NaN         0.0         NaN

date               2017-08-26  2017-08-27  2017-08-28  2017-08-29  2017-08-30  \
uuid     time
Device_1 00:28:00         NaN         NaN         NaN         NaN         NaN
         01:34:00         NaN         NaN         NaN         NaN         NaN
         01:35:00         NaN         NaN         NaN         NaN         NaN
         02:10:00         NaN         NaN         NaN         NaN         NaN
         08:23:00         NaN         NaN         NaN         NaN         NaN
...                       ...         ...         ...         ...         ...
Device_5 23:54:00         NaN         NaN         NaN         NaN         NaN
         23:55:00         NaN         NaN         NaN         0.0         NaN
         23:56:00         NaN         NaN         NaN         NaN         NaN
         23:57:00         NaN         NaN         NaN         NaN         NaN
         23:58:00         NaN         NaN         NaN         NaN         NaN

date               2017-08-31
uuid     time
Device_1 00:28:00         NaN
         01:34:00         NaN
         01:35:00         NaN
         02:10:00         NaN
         08:23:00         NaN
...                       ...
Device_5 23:54:00         NaN
         23:55:00         NaN
         23:56:00         NaN
         23:57:00         NaN
         23:58:00         NaN

[3261 rows x 49 columns]

In [240]:
dataFrame.pivot_table(values='speed', index = 'date', columns='uuid')

uuid         Device_1   Device_2   Device_3   Device_4   Device_5
date
2017-07-14   8.206040   2.632475   5.478958        NaN   3.164417
2017-07-15  10.586768  12.646446   1.437419   8.353800   3.132309
2017-07-16   9.980522  13.123781  11.617068  10.696379   5.598477
2017-07-17   1.578500   5.934615   6.413333   3.291718   3.518142
2017-07-18   4.817608  10.228613   4.018222   4.727942   1.887154
2017-07-19   4.766652   6.498466   4.711935   4.427263   3.362530
2017-07-20   1.592766   5.050632   6.584900   2.872931   6.220560
2017-07-21   1.416211  12.055604   2.663333   5.261405   5.991831
2017-07-22   0.000000   7.050997        NaN  12.994803   1.552500
2017-07-23        NaN        NaN        NaN  11.826123  13.011254
2017-07-24   1.392857   5.471594        NaN   4.202331   3.418789
2017-07-25   1.662353   6.686319        NaN   6.790958   2.407590
2017-07-26   4.945438   6.058252        NaN   5.246451   1.299823
2017-07-27   6.012674   5.128414        NaN   3.721250   1.792274
2017-07-28   3.439709   7.512027        NaN   3.623680   1.975845
2017-07-29        NaN        NaN        NaN  15.929580   2.324605
2017-07-30        NaN        NaN        NaN  11.636364   1.751503
2017-07-31        NaN        NaN        NaN        NaN   2.684714
2017-08-01        NaN        NaN        NaN        NaN   4.130945
2017-08-02        NaN        NaN        NaN        NaN   2.641493
2017-08-03        NaN        NaN        NaN        NaN   1.562052
2017-08-04        NaN        NaN        NaN        NaN   3.289844
2017-08-05        NaN        NaN        NaN        NaN   4.104000
2017-08-06        NaN        NaN        NaN        NaN  18.432635
2017-08-07        NaN        NaN        NaN        NaN   1.597143
2017-08-08        NaN        NaN        NaN        NaN   3.520836
2017-08-09        NaN        NaN        NaN        NaN   5.457198
2017-08-10        NaN        NaN        NaN        NaN   1.720447
2017-08-11        NaN        NaN        NaN        NaN   5.079508
2017-08-12        NaN        NaN        NaN        NaN  17.188080
2017-08-13        NaN        NaN        NaN        NaN  23.285817
2017-08-14        NaN        NaN        NaN        NaN   0.823052
2017-08-15        NaN        NaN        NaN        NaN   1.646471
2017-08-16        NaN        NaN        NaN        NaN   2.987260
2017-08-17        NaN        NaN        NaN        NaN  10.600000
2017-08-18        NaN        NaN        NaN        NaN   5.006316
2017-08-19        NaN        NaN        NaN        NaN   2.865487
2017-08-20        NaN        NaN        NaN        NaN  11.647644
2017-08-21        NaN        NaN        NaN        NaN   4.657723
2017-08-22        NaN        NaN        NaN        NaN   3.767615
2017-08-23        NaN        NaN        NaN        NaN   4.520636
2017-08-24        NaN        NaN        NaN        NaN   4.392553
2017-08-25        NaN        NaN        NaN        NaN   2.831580
2017-08-26        NaN        NaN        NaN        NaN   6.259818
2017-08-27        NaN        NaN        NaN        NaN   0.358215
2017-08-28        NaN        NaN        NaN        NaN  14.835980
2017-08-29        NaN        NaN        NaN        NaN   9.988618
2017-08-30        NaN        NaN        NaN        NaN  10.893811
2017-08-31        NaN        NaN        NaN        NaN   4.755953

In [234]:
dataFrame.groupby('uuid').speed.agg(['count', 'max', 'mean'])

          count         max      mean
uuid
Device_1   4299   22.580000  5.115452
Device_2   6136   31.590000  9.124237
Device_3    879   23.040001  6.407270
Device_4   6584   30.450001  5.858711
Device_5  20689  119.149994  8.132991

### Extracting Data "idWithDate"

In [273]:
idWithDate = dataFrame.groupby(['uuid', 'date']).speed.agg(['count', 'max', 'min', 'mean'])
idWithDate.to_csv('idWithDate.csv')

In [274]:
idWithDate

                     count        max  min       mean
uuid     date
Device_1 2017-07-14    101  14.530000  0.0   8.206040
         2017-07-15    263  19.180000  0.0  10.586768
         2017-07-16    134  16.190001  0.0   9.980522
         2017-07-17     20   6.070000  0.0   1.578500
         2017-07-18    648  22.580000  0.0   4.817608
...                    ...        ...  ...        ...
Device_5 2017-08-27    325  31.670000  0.0   0.358215
         2017-08-28    622  35.459999  0.0  14.835980
         2017-08-29    984  30.309999  0.0   9.988618
         2017-08-30    467  33.049999  0.0  10.893811
         2017-08-31    257  34.799999  0.0   4.755953

[101 rows x 4 columns]

In [245]:
pd.pivot_table(dataFrame,index=["timestamp"], columns='uuid', values='speed')

uuid                 Device_1  Device_2  Device_3  Device_4  Device_5
timestamp
2017-07-14 10:30:00       NaN       0.0       NaN       NaN       NaN
2017-07-14 11:29:00       NaN       0.0       NaN       NaN       NaN
2017-07-14 11:31:00       NaN       NaN       NaN       NaN       0.0
2017-07-14 12:02:00       NaN       NaN       0.0       NaN       NaN
2017-07-14 12:12:00       NaN       NaN       NaN       NaN       0.0
...                       ...       ...       ...       ...       ...
2017-08-31 14:48:00       NaN       NaN       NaN       NaN       0.0
2017-08-31 14:50:00       NaN       NaN       NaN       NaN       0.0
2017-08-31 14:52:00       NaN       NaN       NaN       NaN       0.0
2017-08-31 14:55:00       NaN       NaN       NaN       NaN       0.0
2017-08-31 14:56:00       NaN       NaN       NaN       NaN       0.0

[11890 rows x 5 columns]