In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import date

#### Data Imorting and Cleaning

In [7]:
main_dataFrame = pd.read_csv('coordinates.csv')
dataFrame = main_dataFrame.dropna(axis=0, how='all', thresh=None, subset=None)
dataFrame = dataFrame.reset_index(drop=True)
dataFrame.speed.replace(-1, 0, inplace=True)

#### Converting "timestamp" to date and time format to creating three seperate columns "date", "time" and  "weekday"

In [8]:
dataFrame.timestamp = pd.to_datetime(dataFrame.timestamp)
dataFrame['time'] = dataFrame.timestamp.dt.time
dataFrame['weekday'] = dataFrame.timestamp.dt.weekday_name
dataFrame['date'] = dataFrame.timestamp.dt.date
dataFrame['location'] = dataFrame.agg('[{0[latitude]}, {0[longitude]}]'.format, axis=1)

In [9]:
dataFrame.uuid = dataFrame.uuid.replace({
    '2C08C96C-2595-4813-9EED-F1C8BE107854': 'Device_1',
    '88C6D155-9D4A-4896-9FC9-ADB50B764991': 'Device_2',
    'AAEF21CC-C1C1-4AAA-A4CB-018A10357266': 'Device_3',
    'CFCB52C1-3904-450A-91AF-7C6B5F467922': 'Device_4',
    'd4521d1e-ddb6-4a8c-97b3-1fe85075cc66':'Device_5'})

In [10]:
dataFrame.shape

(38587, 10)

In [11]:
dataFrame.head()
dataFrame.to_csv('cleaned.csv')

In [12]:
dataFrame.dtypes

uuid                 object
latitude            float64
longitude           float64
altitude            float64
speed               float64
timestamp    datetime64[ns]
time                 object
weekday              object
date                 object
location             object
dtype: object

In [13]:
# dataFrame[35610:35620]

In [14]:
dataFrame.isnull().sum()

uuid             0
latitude         0
longitude        0
altitude     20689
speed            0
timestamp        0
time             0
weekday          0
date             0
location         0
dtype: int64

In [15]:
dataFrame.speed.max()

119.1499939

In [16]:
dataFrame.uuid.unique()

array(['Device_1', 'Device_2', 'Device_3', 'Device_4', 'Device_5'],
      dtype=object)

In [17]:
# dataFrame['speed_difference'] = (dataFrame['speed'].shift() - dataFrame['speed']).abs() > 40
# dataFrame

In [18]:
# dataFrame.loc[dataFrame.speed_difference== True]

In [19]:
# dataFrame[35600:35614]

## Groupping The Data

In [20]:
new_Ser = dataFrame.groupby(['time', 'date']).speed.mean()

In [21]:
new_Ser

time      date
00:00:00  2017-08-01    0.0
          2017-08-21    0.0
00:01:00  2017-07-28    0.0
          2017-08-03    0.0
          2017-08-25    0.0
                       ...
23:57:00  2017-08-18    0.0
          2017-08-20    0.0
23:58:00  2017-07-27    0.0
          2017-08-22    0.0
          2017-08-24    0.0
Name: speed, Length: 11890, dtype: float64

In [22]:
new_Ser.unstack()

date,2017-07-14,2017-07-15,2017-07-16,2017-07-17,2017-07-18,2017-07-19,2017-07-20,2017-07-21,2017-07-22,2017-07-23,...,2017-08-22,2017-08-23,2017-08-24,2017-08-25,2017-08-26,2017-08-27,2017-08-28,2017-08-29,2017-08-30,2017-08-31
time,,,,,,,,,,,,,,,,,,,,,
00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00:01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
00:02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
00:03:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00:04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23:54:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23:55:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
23:56:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23:57:00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23:58:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
dateWiseDevice = dataFrame.pivot_table(values='speed', index = 'date', columns='uuid')
dateWiseDevice= dateWiseDevice.replace('nan', np.nan).fillna(0)

In [24]:
dateWiseDevice.to_csv('dateWiseDevice.csv')

In [25]:
avgSpeed = dataFrame.groupby('uuid').speed.agg(['count', 'max', 'mean'])
avgSpeed.to_csv('avgSpeed.csv')

In [26]:
avgSpeed

          count         max      mean
uuid
Device_1   4299   22.580000  5.115452
Device_2   6136   31.590000  9.124237
Device_3    879   23.040001  6.407270
Device_4   6584   30.450001  5.858711
Device_5  20689  119.149994  8.132991

In [27]:
dataFrame.loc[dataFrame['speed'].idxmax()]

uuid                            Device_5
latitude                         47.4286
longitude                       -53.8807
altitude                             NaN
speed                             119.15
timestamp            2017-08-26 10:24:00
time                            10:24:00
weekday                         Saturday
date                          2017-08-26
location     [47.42856315, -53.88068701]
Name: 35612, dtype: object

In [28]:
dataFrame.location(whe)

NameError: name 'whe' is not defined

### Extracting Data "idWithDate"

In [29]:
idWithDate = dataFrame.groupby(['uuid', 'date']).speed.agg(['count', 'max', 'min', 'mean'])
idWithDate.to_csv('idWithDate.csv')

In [30]:
newidWithDate = pd.read_csv('idWithDate.csv')
newidWithDate.loc[newidWithDate.uuid =='Device_1']

        uuid        date  count        max  min       mean
0   Device_1  2017-07-14    101  14.530000  0.0   8.206040
1   Device_1  2017-07-15    263  19.180000  0.0  10.586768
2   Device_1  2017-07-16    134  16.190001  0.0   9.980522
3   Device_1  2017-07-17     20   6.070000  0.0   1.578500
4   Device_1  2017-07-18    648  22.580000  0.0   4.817608
5   Device_1  2017-07-19    899  20.379999  0.0   4.766652
6   Device_1  2017-07-20     47   5.490000  0.0   1.592766
7   Device_1  2017-07-21     95   4.200000  0.0   1.416211
8   Device_1  2017-07-22      1   0.000000  0.0   0.000000
9   Device_1  2017-07-24     42   4.120000  0.0   1.392857
10  Device_1  2017-07-25     17   5.710000  0.0   1.662353
11  Device_1  2017-07-26   1072  19.120001  0.0   4.945438
12  Device_1  2017-07-27    273  19.959999  0.0   6.012674
13  Device_1  2017-07-28    687  21.010000  0.0   3.439709

In [31]:
pd.pivot_table(dataFrame,index=["timestamp"], columns='uuid', values='speed')

uuid                 Device_1  Device_2  Device_3  Device_4  Device_5
timestamp
2017-07-14 10:30:00       NaN       0.0       NaN       NaN       NaN
2017-07-14 11:29:00       NaN       0.0       NaN       NaN       NaN
2017-07-14 11:31:00       NaN       NaN       NaN       NaN       0.0
2017-07-14 12:02:00       NaN       NaN       0.0       NaN       NaN
2017-07-14 12:12:00       NaN       NaN       NaN       NaN       0.0
...                       ...       ...       ...       ...       ...
2017-08-31 14:48:00       NaN       NaN       NaN       NaN       0.0
2017-08-31 14:50:00       NaN       NaN       NaN       NaN       0.0
2017-08-31 14:52:00       NaN       NaN       NaN       NaN       0.0
2017-08-31 14:55:00       NaN       NaN       NaN       NaN       0.0
2017-08-31 14:56:00       NaN       NaN       NaN       NaN       0.0

[11890 rows x 5 columns]

In [32]:
dataFrame.groupby(['uuid', 'date'])

In [33]:
dataFrame.head()

,uuid,latitude,longitude,altitude,speed,timestamp,time,weekday,date,location
0,Device_1,47.571094,-52.734079,63.291878,0.00,2017-07-14 13:34:00,13:34:00,Friday,2017-07-14,"[47.571094, -52.734079]"
1,Device_1,47.568872,-52.734090,72.342346,5.55,2017-07-14 16:29:00,16:29:00,Friday,2017-07-14,"[47.568872, -52.73409]"
2,Device_1,47.569078,-52.734421,58.217102,0.00,2017-07-14 16:29:00,16:29:00,Friday,2017-07-14,"[47.569078000000005, -52.734421]"
3,Device_1,47.570325,-52.731555,44.922607,10.90,2017-07-14 16:30:00,16:30:00,Friday,2017-07-14,"[47.570325, -52.73155500000001]"
4,Device_1,47.569977,-52.732192,46.451965,2.78,2017-07-14 16:30:00,16:30:00,Friday,2017-07-14,"[47.569977, -52.732192000000005]"

In [34]:
dataFrame.groupby('uuid')['date'].value_counts()

uuid      date
Device_1  2017-07-26    1072
          2017-07-19     899
          2017-07-28     687
          2017-07-18     648
          2017-07-27     273
                        ...
Device_5  2017-08-17     167
          2017-08-15     153
          2017-08-05     150
          2017-07-26     113
          2017-08-07      56
Name: date, Length: 101, dtype: int64

In [35]:
balancedDf = pd.read_csv('balancedData.csv')

In [36]:
ddwt_df = balancedDf.groupby(['uuid', 'date', 'weekday', 'time']).speed.agg(['count', 'max', 'mean'])

In [37]:
ddwt_df = ddwt_df.round(2)

In [38]:
ddwt_df.to_csv('ddwt_df.csv')

In [39]:
ddw_df = balancedDf.groupby(['uuid', 'date', 'weekday']).speed.agg(['count', 'max', 'mean'])
ddw_df = ddw_df.round(2)
ddw_df.to_csv('ddw_df.csv')

In [40]:
balancedDf

,uuid,latitude,longitude,altitude,speed,timestamp,time,weekday,date,location
0,Device_1,47.570857,-52.701491,28.434481,0.00,2017-07-15 01:34:00,01:34:00,Saturday,2017-07-15,"[47.570857000000004, -52.701491000000004]"
1,Device_1,47.570660,-52.701849,25.981262,0.00,2017-07-15 01:35:00,01:35:00,Saturday,2017-07-15,"[47.57066, -52.701848999999996]"
2,Device_1,47.571400,-52.700276,4.098511,0.97,2017-07-15 10:03:00,10:03:00,Saturday,2017-07-15,"[47.5714, -52.700276]"
3,Device_1,47.571197,-52.700474,36.241333,1.37,2017-07-15 10:04:00,10:04:00,Saturday,2017-07-15,"[47.571197, -52.700474]"
4,Device_1,47.571399,-52.700621,35.026978,0.67,2017-07-15 10:04:00,10:04:00,Saturday,2017-07-15,"[47.571399, -52.700621]"
...,...,...,...,...,...,...,...,...,...,...
13077,Device_5,47.529155,-52.805205,NaN,3.28,2017-07-21 20:05:00,20:05:00,Friday,2017-07-21,"[47.52915525, -52.80520518]"
13078,Device_5,47.529315,-52.804797,NaN,0.00,2017-07-21 20:05:00,20:05:00,Friday,2017-07-21,"[47.529315000000004, -52.80479690000001]"
13079,Device_5,47.528964,-52.805405,NaN,0.00,2017-07-21 20:06:00,20:06:00,Friday,2017-07-21,"[47.52896444, -52.80540492]"
13080,Device_5,47.529072,-52.804800,NaN,0.00,2017-07-21 20:06:00,20:06:00,Friday,2017-07-21,"[47.529072, -52.8048005]"
13081,Device_5,47.529363,-52.805335,NaN,0.00,2017-07-21 20:06:00,20:06:00,Friday,2017-07-21,"[47.529362899999995, -52.805335]"

In [41]:
balancedDf.groupby('uuid')['time'].value_counts()

uuid      time
Device_1  10:05:00    24
          10:06:00    23
          08:44:00    17
          09:59:00    16
          10:04:00    16
                      ..
Device_5  22:58:00     1
          23:04:00     1
          23:11:00     1
          23:17:00     1
          23:32:00     1
Name: time, Length: 2146, dtype: int64

In [42]:
balancedDf[(balancedDf['speed']==0) & (balancedDf['uuid']=='Device_1')].groupby(['weekday', 'time']).count()

                    uuid  latitude  longitude  altitude  speed  timestamp  \
weekday   time
Friday    08:41:00     1         1          1         1      1          1
          08:45:00     1         1          1         1      1          1
          13:07:00     1         1          1         1      1          1
          13:08:00     1         1          1         1      1          1
          13:51:00     1         1          1         1      1          1
          15:41:00     1         1          1         1      1          1
Monday    08:41:00     1         1          1         1      1          1
          14:28:00     1         1          1         1      1          1
Saturday  01:34:00     1         1          1         1      1          1
          01:35:00     1         1          1         1      1          1
          11:53:00     2         2          2         2      2          2
          11:58:00     2         2          2         2      2          2
          11:59:00     1         1          1         1      1          1
          12:00:00     1         1          1         1      1          1
          12:01:00     1         1          1         1      1          1
          12:03:00     1         1          1         1      1          1
          15:28:00     1         1          1         1      1          1
Sunday    00:28:00     1         1          1         1      1          1
          02:10:00     1         1          1         1      1          1
          10:16:00     1         1          1         1      1          1
          10:20:00     1         1          1         1      1          1
Thursday  09:58:00     1         1          1         1      1          1
          16:51:00     1         1          1         1      1          1
Tuesday   08:43:00     1         1          1         1      1          1
          08:47:00     1         1          1         1      1          1
          09:17:00     1         1          1         1      1          1
          13:30:00     1         1          1         1      1          1
          13:56:00     2         2          2         2      2          2
          16:16:00     1         1          1         1      1          1
Wednesday 08:42:00     1         1          1         1      1          1
          09:57:00     1         1          1         1      1          1
          12:08:00     1         1          1         1      1          1
          12:53:00     1         1          1         1      1          1
          14:43:00     1         1          1         1      1          1
          22:14:00     1         1          1         1      1          1

                    date  location
weekday   time
Friday    08:41:00     1         1
          08:45:00     1         1
          13:07:00     1         1
          13:08:00     1         1
          13:51:00     1         1
          15:41:00     1         1
Monday    08:41:00     1         1
          14:28:00     1         1
Saturday  01:34:00     1         1
          01:35:00     1         1
          11:53:00     2         2
          11:58:00     2         2
          11:59:00     1         1
          12:00:00     1         1
          12:01:00     1         1
          12:03:00     1         1
          15:28:00     1         1
Sunday    00:28:00     1         1
          02:10:00     1         1
          10:16:00     1         1
          10:20:00     1         1
Thursday  09:58:00     1         1
          16:51:00     1         1
Tuesday   08:43:00     1         1
          08:47:00     1         1
          09:17:00     1         1
          13:30:00     1         1
          13:56:00     2         2
          16:16:00     1         1
Wednesday 08:42:00     1         1
          09:57:00     1         1
          12:08:00     1         1
          12:53:00     1         1
          14:43:00     1         1
          22:14:00     1         1

In [43]:
zeroSpeed = balancedDf[(balancedDf['speed']==0)].groupby(['uuid', 'weekday','date']).count()

In [44]:
zeroSpeed.to_csv('zeroSpeed.csv')

In [45]:
zeroSpeed

                               latitude  longitude  altitude  speed  \
uuid     weekday   date
Device_1 Friday    2017-07-21         6          6         6      6
         Monday    2017-07-17         2          2         2      2
         Saturday  2017-07-15        11         11        11     11
         Sunday    2017-07-16         4          4         4      4
         Thursday  2017-07-20         2          2         2      2
         Tuesday   2017-07-18         7          7         7      7
         Wednesday 2017-07-19         6          6         6      6
Device_2 Friday    2017-07-21         5          5         5      5
         Monday    2017-07-17        20         20        20     20
         Saturday  2017-07-15         1          1         1      1
         Sunday    2017-07-16         1          1         1      1
         Thursday  2017-07-20         5          5         5      5
         Tuesday   2017-07-18        18         18        18     18
         Wednesday 2017-07-19         4          4         4      4
Device_3 Friday    2017-07-21        12         12        12     12
         Monday    2017-07-17         7          7         7      7
         Sunday    2017-07-16         1          1         1      1
         Thursday  2017-07-20         6          6         6      6
         Tuesday   2017-07-18         8          8         8      8
         Wednesday 2017-07-19         5          5         5      5
Device_4 Friday    2017-07-21         7          7         7      7
         Monday    2017-07-17         4          4         4      4
         Saturday  2017-07-15         4          4         4      4
         Sunday    2017-07-16         1          1         1      1
         Thursday  2017-07-20         4          4         4      4
         Tuesday   2017-07-18         2          2         2      2
         Wednesday 2017-07-19         8          8         8      8
Device_5 Friday    2017-07-21       147        147         0    147
         Monday    2017-07-17        87         87         0     87
         Saturday  2017-07-15       145        145         0    145
         Sunday    2017-07-16       137        137         0    137
         Thursday  2017-07-20       129        129         0    129
         Tuesday   2017-07-18       182        182         0    182
         Wednesday 2017-07-19       183        183         0    183

                               timestamp  time  location
uuid     weekday   date
Device_1 Friday    2017-07-21          6     6         6
         Monday    2017-07-17          2     2         2
         Saturday  2017-07-15         11    11        11
         Sunday    2017-07-16          4     4         4
         Thursday  2017-07-20          2     2         2
         Tuesday   2017-07-18          7     7         7
         Wednesday 2017-07-19          6     6         6
Device_2 Friday    2017-07-21          5     5         5
         Monday    2017-07-17         20    20        20
         Saturday  2017-07-15          1     1         1
         Sunday    2017-07-16          1     1         1
         Thursday  2017-07-20          5     5         5
         Tuesday   2017-07-18         18    18        18
         Wednesday 2017-07-19          4     4         4
Device_3 Friday    2017-07-21         12    12        12
         Monday    2017-07-17          7     7         7
         Sunday    2017-07-16          1     1         1
         Thursday  2017-07-20          6     6         6
         Tuesday   2017-07-18          8     8         8
         Wednesday 2017-07-19          5     5         5
Device_4 Friday    2017-07-21          7     7         7
         Monday    2017-07-17          4     4         4
         Saturday  2017-07-15          4     4         4
         Sunday    2017-07-16          1     1         1
         Thursday  2017-07-20          4     4         4
         Tuesday   2017-07-18          2     2         2
         Wednesday 2017-07-19          8     8         8
Device_5 Friday    2017-07-21        147   147       147
         Monday    2017-07-17         87    87        87
         Saturday  2017-07-15        145   145       145
         Sunday    2017-07-16        137   137       137
         Thursday  2017-07-20        129   129       129
         Tuesday   2017-07-18        182   182       182
         Wednesday 2017-07-19        183   183       183

In [46]:
notZeroSpeed = balancedDf[(balancedDf['speed']>0)].groupby(['uuid', 'weekday','date']).count()
notZeroSpeed.to_csv('notZeroSpeed.csv')

In [47]:
notZeroSpeed.head()

                              latitude  longitude  altitude  speed  timestamp  \
uuid     weekday  date
Device_1 Friday   2017-07-21        89         89        89     89         89
         Monday   2017-07-17        18         18        18     18         18
         Saturday 2017-07-15       252        252       252    252        252
         Sunday   2017-07-16       130        130       130    130        130
         Thursday 2017-07-20        45         45        45     45         45

                              time  location
uuid     weekday  date
Device_1 Friday   2017-07-21    89        89
         Monday   2017-07-17    18        18
         Saturday 2017-07-15   252       252
         Sunday   2017-07-16   130       130
         Thursday 2017-07-20    45        45

In [48]:
zeroSpeed

                               latitude  longitude  altitude  speed  \
uuid     weekday   date
Device_1 Friday    2017-07-21         6          6         6      6
         Monday    2017-07-17         2          2         2      2
         Saturday  2017-07-15        11         11        11     11
         Sunday    2017-07-16         4          4         4      4
         Thursday  2017-07-20         2          2         2      2
         Tuesday   2017-07-18         7          7         7      7
         Wednesday 2017-07-19         6          6         6      6
Device_2 Friday    2017-07-21         5          5         5      5
         Monday    2017-07-17        20         20        20     20
         Saturday  2017-07-15         1          1         1      1
         Sunday    2017-07-16         1          1         1      1
         Thursday  2017-07-20         5          5         5      5
         Tuesday   2017-07-18        18         18        18     18
         Wednesday 2017-07-19         4          4         4      4
Device_3 Friday    2017-07-21        12         12        12     12
         Monday    2017-07-17         7          7         7      7
         Sunday    2017-07-16         1          1         1      1
         Thursday  2017-07-20         6          6         6      6
         Tuesday   2017-07-18         8          8         8      8
         Wednesday 2017-07-19         5          5         5      5
Device_4 Friday    2017-07-21         7          7         7      7
         Monday    2017-07-17         4          4         4      4
         Saturday  2017-07-15         4          4         4      4
         Sunday    2017-07-16         1          1         1      1
         Thursday  2017-07-20         4          4         4      4
         Tuesday   2017-07-18         2          2         2      2
         Wednesday 2017-07-19         8          8         8      8
Device_5 Friday    2017-07-21       147        147         0    147
         Monday    2017-07-17        87         87         0     87
         Saturday  2017-07-15       145        145         0    145
         Sunday    2017-07-16       137        137         0    137
         Thursday  2017-07-20       129        129         0    129
         Tuesday   2017-07-18       182        182         0    182
         Wednesday 2017-07-19       183        183         0    183

                               timestamp  time  location
uuid     weekday   date
Device_1 Friday    2017-07-21          6     6         6
         Monday    2017-07-17          2     2         2
         Saturday  2017-07-15         11    11        11
         Sunday    2017-07-16          4     4         4
         Thursday  2017-07-20          2     2         2
         Tuesday   2017-07-18          7     7         7
         Wednesday 2017-07-19          6     6         6
Device_2 Friday    2017-07-21          5     5         5
         Monday    2017-07-17         20    20        20
         Saturday  2017-07-15          1     1         1
         Sunday    2017-07-16          1     1         1
         Thursday  2017-07-20          5     5         5
         Tuesday   2017-07-18         18    18        18
         Wednesday 2017-07-19          4     4         4
Device_3 Friday    2017-07-21         12    12        12
         Monday    2017-07-17          7     7         7
         Sunday    2017-07-16          1     1         1
         Thursday  2017-07-20          6     6         6
         Tuesday   2017-07-18          8     8         8
         Wednesday 2017-07-19          5     5         5
Device_4 Friday    2017-07-21          7     7         7
         Monday    2017-07-17          4     4         4
         Saturday  2017-07-15          4     4         4
         Sunday    2017-07-16          1     1         1
         Thursday  2017-07-20          4     4         4
         Tuesday   2017-07-18          2     2         2
         Wednesday 2017-07-19          8     8         8
Device_5 Friday    2017-07-21        147   147       147
         Monday    2017-07-17         87    87        87
         Saturday  2017-07-15        145   145       145
         Sunday    2017-07-16        137   137       137
         Thursday  2017-07-20        129   129       129
         Tuesday   2017-07-18        182   182       182
         Wednesday 2017-07-19        183   183       183

In [49]:
balanced = balancedDf.groupby('uuid').speed.agg(['count', 'max', 'mean'])
balanced.to_csv('balanced.csv')

In [50]:
balanced_DF = pd.read_csv('balanced.csv')

In [51]:
balanced_DF

       uuid  count        max       mean
0  Device_1   2106  22.580000   5.588656
1  Device_2   4468  31.590000  10.255483
2  Device_3    831  23.040001   6.460891
3  Device_4   2684  20.820000   4.524091
4  Device_5   2993  23.600000   4.428082

In [52]:
balancedDf

,uuid,latitude,longitude,altitude,speed,timestamp,time,weekday,date,location
0,Device_1,47.570857,-52.701491,28.434481,0.00,2017-07-15 01:34:00,01:34:00,Saturday,2017-07-15,"[47.570857000000004, -52.701491000000004]"
1,Device_1,47.570660,-52.701849,25.981262,0.00,2017-07-15 01:35:00,01:35:00,Saturday,2017-07-15,"[47.57066, -52.701848999999996]"
2,Device_1,47.571400,-52.700276,4.098511,0.97,2017-07-15 10:03:00,10:03:00,Saturday,2017-07-15,"[47.5714, -52.700276]"
3,Device_1,47.571197,-52.700474,36.241333,1.37,2017-07-15 10:04:00,10:04:00,Saturday,2017-07-15,"[47.571197, -52.700474]"
4,Device_1,47.571399,-52.700621,35.026978,0.67,2017-07-15 10:04:00,10:04:00,Saturday,2017-07-15,"[47.571399, -52.700621]"
...,...,...,...,...,...,...,...,...,...,...
13077,Device_5,47.529155,-52.805205,NaN,3.28,2017-07-21 20:05:00,20:05:00,Friday,2017-07-21,"[47.52915525, -52.80520518]"
13078,Device_5,47.529315,-52.804797,NaN,0.00,2017-07-21 20:05:00,20:05:00,Friday,2017-07-21,"[47.529315000000004, -52.80479690000001]"
13079,Device_5,47.528964,-52.805405,NaN,0.00,2017-07-21 20:06:00,20:06:00,Friday,2017-07-21,"[47.52896444, -52.80540492]"
13080,Device_5,47.529072,-52.804800,NaN,0.00,2017-07-21 20:06:00,20:06:00,Friday,2017-07-21,"[47.529072, -52.8048005]"
13081,Device_5,47.529363,-52.805335,NaN,0.00,2017-07-21 20:06:00,20:06:00,Friday,2017-07-21,"[47.529362899999995, -52.805335]"

In [54]:
balancedDf.time = pd.to_datetime(balancedDf.time)
balancedDf['hour'] = balancedDf['time'].dt.hour

In [55]:
balancedDf

,uuid,latitude,longitude,altitude,speed,timestamp,time,weekday,date,location,hour
0,Device_1,47.570857,-52.701491,28.434481,0.00,2017-07-15 01:34:00,2019-11-22 01:34:00,Saturday,2017-07-15,"[47.570857000000004, -52.701491000000004]",1
1,Device_1,47.570660,-52.701849,25.981262,0.00,2017-07-15 01:35:00,2019-11-22 01:35:00,Saturday,2017-07-15,"[47.57066, -52.701848999999996]",1
2,Device_1,47.571400,-52.700276,4.098511,0.97,2017-07-15 10:03:00,2019-11-22 10:03:00,Saturday,2017-07-15,"[47.5714, -52.700276]",10
3,Device_1,47.571197,-52.700474,36.241333,1.37,2017-07-15 10:04:00,2019-11-22 10:04:00,Saturday,2017-07-15,"[47.571197, -52.700474]",10
4,Device_1,47.571399,-52.700621,35.026978,0.67,2017-07-15 10:04:00,2019-11-22 10:04:00,Saturday,2017-07-15,"[47.571399, -52.700621]",10
...,...,...,...,...,...,...,...,...,...,...,...
13077,Device_5,47.529155,-52.805205,NaN,3.28,2017-07-21 20:05:00,2019-11-22 20:05:00,Friday,2017-07-21,"[47.52915525, -52.80520518]",20
13078,Device_5,47.529315,-52.804797,NaN,0.00,2017-07-21 20:05:00,2019-11-22 20:05:00,Friday,2017-07-21,"[47.529315000000004, -52.80479690000001]",20
13079,Device_5,47.528964,-52.805405,NaN,0.00,2017-07-21 20:06:00,2019-11-22 20:06:00,Friday,2017-07-21,"[47.52896444, -52.80540492]",20
13080,Device_5,47.529072,-52.804800,NaN,0.00,2017-07-21 20:06:00,2019-11-22 20:06:00,Friday,2017-07-21,"[47.529072, -52.8048005]",20
13081,Device_5,47.529363,-52.805335,NaN,0.00,2017-07-21 20:06:00,2019-11-22 20:06:00,Friday,2017-07-21,"[47.529362899999995, -52.805335]",20

In [90]:
hitmap = balancedDf.groupby(['uuid', 'weekday', 'hour']).speed.agg(['count', 'max', 'mean'])
hitmap.round(2)

                         count    max  mean
uuid     weekday   hour
Device_1 Friday    8         3   0.51  0.17
                   13        7   2.70  0.81
                   15       60   3.05  1.41
                   16       25   4.20  1.76
         Monday    8        17   2.36  1.44
...                        ...    ...   ...
Device_5 Wednesday 17       24  12.13  0.85
                   18       78  15.27  4.06
                   19       21   0.00  0.00
                   20       53  15.21  6.65
                   21       10   0.00  0.00

[271 rows x 3 columns]

In [62]:
hitmap.to_csv('hitmap.csv')

In [87]:
a = balancedDf[['uuid', 'weekday','hour','time']].copy()
merged = pd.merge(hitmap.reset_index(), a, on=['uuid', 'weekday','hour'], how='inner')
merged.drop_duplicates(subset=['uuid', 'weekday','hour'], inplace=True)
merged.reset_index(inplace=True)

In [92]:
merged.round(2)
merged.to_csv('hitmap.csv')